body {
    cursor: url(./assets/defaultCursor.png), auto;
}
#grid {
  border-collapse: collapse;
  margin: auto;
  border: 3px solid black;
}
#grid td {
  position: relative;
    width: 30px;
    height: 30px;
    border: 1px solid black;
}
#grid .bloco {
    width: 30px;
    height: 30px;
}
#grid .cac:hover, .dist:hover {
    cursor: pointer;
    background-color: black;
}
#grid .meio {
    background-color: crimson;
}
#grid .meio:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0; right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 10px solid crimson;
    border-right: 10px solid crimson;
    border-bottom: 10px solid black;
}
#grid .cac:after {
    position: absolute;
    content: '';
    text-align: center;
    width: 100%;
    height: 100%;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    font-size: 10px;
    display: block;
    border: 2px solid white;
}
#grid .cac:before, #grid .dist:before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 108, 180, .8);
}
#grid .frente:before {
    background-color: rgba(253, 208, 35, .7);
}
#grid .costas:before {
    background-color: rgba(0, 49, 128, .8);
}
#grid .borda {
    background-color: slategray;
}
#grid .minibloco {
    position: relative;
    width: 15px;
    height: 15px;
}

.v-menu__content.touchevent {
  pointer-events: none !important;
}
.fontsmall {
    font-size: 12px;
    line-height: 22px;
}
#grid .v-list-item--dense, .v-list--dense .v-list-item {
    min-height: 30px !important;
}
#grid .v-subheader {
    height: 35px;
}
.fontMenor {
    font-size: 12px;
}
.critico {
    font-size: 16px !important;
    color: #DC143C;
}
.borderClaro {
    border: 1px solid #eee;
    border-top: 0;
}
.v-app-bar {
    background-image: url(./assets/top.png), url(./assets/bot.png);
    background-repeat: no-repeat;
    background-position: -250px 0, right 0;
}
.idioma {
    filter: drop-shadow(0px 0px 10px beige);
}
.hoverAtivo {
    font-weight: bold;
}
.iconDados {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formula {
    position: relative;
}
.flutuante {
    position: absolute;
    right: 0;
    top: -2px;
    transition: all 0.3s ease-out;
    cursor: pointer;
}
.flutuante:hover {
    transition: none;
    transform: scale(1.04);
}
.flutuante:active {
    transition: none;
    transform: scale(0.95);
}
.identacao1 {
    text-indent: 10px;
}
.identacao2 {
    text-indent: 20px;
}
.identacao3 {
    text-indent: 30px;
}
.bordasLaterais {
    border-right: 2px solid #fafafa;
    border-left: 2px solid #fafafa;
    background-color: #fefefe;
}
.operador {
    color: #F44336 !important;
    caret-color: #F44336 !important;
}
.upper, .operador {
    text-transform: uppercase;
}
